{% extends "base1.html" %}

{% block title %}爱他美奶粉{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <meta name="keywords" content="首页"/>
    <meta name="description" content="首页"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/normalize.css') }}"/>
    <script type="text/javascript" src='/static/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/static/js/test.js'></script>
    <script src='/static/js/common.js' type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var showproduct = {
                "boxid": "showbox",
                "sumid": "showsum",
                "boxw": 400,//宽度,该版本中请把宽高填写成一样
                "boxh": 400,//高度,该版本中请把宽高填写成一样
                "sumw": 60,//列表每个宽度,该版本中请把宽高填写成一样
                "sumh": 60,//列表每个高度,该版本中请把宽高填写成一样
                "sumi": 7,//列表间隔
                "sums": 5,//列表显示个数
                "sumsel": "sel",
                "sumborder": 1,//列表边框，没有边框填写0，边框在css中修改
                "lastid": "showlast",
                "nextid": "shownext"
            };//参数定义
            $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
        });
    </script>
{% endblock %}

{% block body %}
    <div class="showall">
        <!--left -->
        <div class="showbot">
            <div id="showbox">
                <img src="/static/images/atm/atm1.jpg" width="400" height="400"/>
                <img src="/static/images/atm/atm2.jpg" width="400" height="400"/>
                <img src="/static/images/atm/atm3.jpg" width="400" height="400"/>
                <img src="/static/images/atm/atm4.jpg" width="400" height="400"/>
                <img src="/static/images/atm/atm5.jpg" width="400" height="400"/>


            </div><!--展示图片盒子-->
            <div id="showsum">
                <!--展示图片里边-->
            </div>
            <p class="showpage">
                <a href="javascript:void(0);" id="showlast"> < </a>
                <a href="javascript:void(0);" id="shownext"> > </a>

            </p>
        </div>
        <!--conet -->
        <div class="tb-property">
            <div class="tr-nobdr">
                <h3> 爱他美（Aptamil）卓萃较大婴儿配方奶粉（6-12月龄，2段）900g </h3>
            </div>
            <div class="txt">
                <span class="nowprice">￥<a href="">365.00</a></span>
                <div class="cumulative">
                    <span class="number ty1">累计售出<br/><em id="add_sell_num_363">100万+</em></span>
                    <span class="number tyu">累计评价<br/><em id="add_sell_num_363">20万+</em></span>
                </div>
            </div>
            <div class="txt-h">
                <span class="tex-o">分类</span>
                <ul class="glist" id="glist" data-monitor="goodsdetails_fenlei_click">
                    <li><a title="大型" href="haierbig.html">大型</a></li>
                    <li><a title="小型" href="haiersmall.html">小型</a></li>
                    <!--<li><a title="红色36g" href="">红色36g</a></li>s
                        <li><a title="蓝色16g" href="">红色36g</a></li>-->
                </ul>
            </div>
            <script>
                $(document).ready(function () {
                    var t = $("#text_box");
                    $('#min').attr('disabled', true);
                    $("#add").click(function () {
                        t.val(parseInt(t.val()) + 1)
                        if (parseInt(t.val()) != 1) {
                            $('#min').attr('disabled', false);
                        }

                    })
                    $("#min").click(function () {
                        t.val(parseInt(t.val()) - 1);
                        if (parseInt(t.val()) == 1) {
                            $('#min').attr('disabled', true);
                        }

                    })
                });
            </script>
            <div class="gcIpt">
                <span class="guT">数量</span>
                <input id="min" name="" type="button" value="-"/>
                <input id="text_box" name="" type="text" value="1"
                       style="width:30px; text-align: center; color: #0F0F0F;"/>
                <input id="add" name="" type="button" value="+"/>
                <span class="Hgt">库存（99）</span>
            </div>
            <div class="nobdr-btns">
                <button class="addcart hu"><img src="/static/images/shop.png" width="25" height="25"/>加入购物车</button>
                <button class="addcart yh"><img src="/static/images/ht.png" width="25" height="25"/>立即购买</button>
            </div>
            <div class="guarantee">
                <span>邮费：包邮&nbsp;&nbsp;支持货到付款 <a href=""><img src="/static/images/me.png"/></a></span>
            </div>
        </div>
        <!--right -->
        <div class="extInfo">
            <div class="brand-logo">
                <a href="" title="爱他美">
                    <img src="/static/images/atm/ppai.png"/>
                </a>
            </div>
            <div class="seller-pop-box">
                <span class="tr">商家名称：爱他美官方旗舰店</span>
                <span class="tr">商家等级：超级店铺</span>
                <span class="tr hoh">
            	            		<a title="山东省兖州区新驿工业区68号" href="">所在地区：山东省兖州区新驿工业区68号</a>
            	            	</span>
            </div>
            <div class="seller-phone">
            	            	<span class="pop im">
            	            		<a href="" data-name="联系卖家"><img src="/static/images/phon.png"/>联系卖家</a>
            	            	</span>
                <span class="pop in">
            	            		<a href="" data-name="咨询卖家"><img src="/static/images/qq.png"/>咨询卖家</a>
            	            	</span>
                <span class="pop in">
            	            		<a href="" data-name="进店逛逛"><img src="/static/images/shop-line.png"/>进店逛逛</a>
            	            	</span>
                <span class="pop in">
            	            		<a href="" data-name="关注店铺"><img src="/static/images/staar.png"/>关注店铺</a>
            	            	</span>
            </div>
            <div class="jd-service">
                <a href="">
                    <img src="/static/images/atm/111.png"/>
                </a>
            </div>
            <div class="suport-icons">
                <h4>扫一扫<br/>手机下单更优惠</h4>
                <img src="/static/images/ho_11.jpg"/>
            </div>
        </div>
    </div>
    <!-- 推荐搭配 -->

    <!-- 商品介紹 -->
    <div class="gdetail">
        <!-- left -->
        <div class="aside">
            <h3>看了还看<span><img src="/static/images/fod.png" width="22" height="22"/>换一批</span></h3>
            <dl class="ac-mod-list">
                <dt><a href="{{ url_for('qa.commodity_detail',commodity_id='11')}}"><img src="/static/images/feih/feih1.jpg"/></a></dt>
                <dd>
                    飞鹤星飞帆 幼儿配方奶粉 3段(12-36个月幼儿适用) 900克
                    <span>￥357.00</span>
                </dd>
            </dl>
            <dl class="ac-mod-list">
                <dt><a href="{{ url_for('qa.commodity_detail',commodity_id='10')}}"><img src="/static/images/huishi/huis1.jpg"/></a></dt>
                <dd>
                    惠氏启赋（Wyeth illuma）3段奶粉爱尔兰进口12-36月幼儿配方810克*6罐 (整箱装)礼盒
                    <span>￥1871.00</span>
                </dd>
            </dl>
            <dl class="ac-mod-list">
                <dt><a href="{{ url_for('qa.commodity_detail',commodity_id='8')}}"><img src="/static/images/meisu/meis1.jpg"/></a></dt>
                <dd>
                    皇家美素佳儿（Friso Prestige）幼儿配方奶粉3段（1-3岁幼儿适用）800克（荷兰原装进口）焕新升级装
                    <span>￥376.00</span>
                </dd>
            </dl>
        </div>
        <!-- right -->
        <script>
            var detail = document.querySelector('.detail');
            var origOffsetY = detail.offsetTop;

            function onScroll(e) {
                window.scrollY >= origOffsetY ? detail.classList.add('sticky') :
                    detail.classList.remove('sticky');
            }

            document.addEventListener('scroll', onScroll);
        </script>
        <div class="detail">
            <div class="active_tab" id="outer">
                <ul class="act_title_left" id="tab">
                    <li class="act_active">
                        <a href="#">营养成分</a>
                    </li>
                    <li>
                        <a href="#">商品介绍</a>
                    </li>
                    <li>
                        <a href="#">商品评价</a>
                    </li>
                    <li>
                        <a href="#">使用贴士</a>
                    </li>
                </ul>
                <ul class="act_title_right">
                    <li class="mui">
                        <a id="mui-a" href="#">扫手机下单+</a>
                    </li>
                    <li class="mui-ac">
                        <a href="#">加入购物车</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div id="content" class="active_list">
                <!--营养成分-->
                <div id="ui-a" class="ui-a">
                    <ul style="display:block;">
                        <li><img src="/static/images/atm/cfb1.jpg"/></li>
                        <li><img src="/static/images/atm/cfb2.jpg"/></li>
                        <li><img src="/static/images/atm/cfb3.jpg"/></li>
                    </ul>
                </div>
                <!--产品介绍-->
                <div id="bit" class="bit">
                    <ul style="display:none;">
                        <li>品牌：爱他美</li>
                        <li>商品名称：爱他美奶粉</li>
                        <li>商品编号：4264358</li>
                        <li>商品毛重：1.12kg</li>
                        <li>商品产地：荷兰</li>
                        <li>适用年龄：6-12个月</li>
                        <li><img src="/static/images/atm/jieshao1.jpg"></li>
                        <li><img src="/static/images/atm/jieshao2.jpg"/></li>
                        <li><img src="/static/images/atm/jieshao3.jpg"/></li>
                        <li><img src="/static/images/atm/jieshao4.jpg"/></li>
                    </ul>
                </div>

                <!--商品评价-->

                <div id="ui-c" class="ui-c">
                    <ul style="display:none;">
                        <div class="form-group" style="text-align: right;">
                            <a class="nav-link" href="{{ url_for('qa.public_question',name=7) }}">
                                <button class="btn btn-primary">发布评论</button>
                            </a>

                        </div>
                        {% for question in questions %}
                            <li>
                                <div class="side-question">
                                    <span class="question-author">{{ question.author.username }}</span>
                                </div>
                                <div class="question-main">
                                    <div class="question-title"><a
                                            href="{{ url_for('qa.question_detail',question_id=question.id) }}">{{ question.title }}</a>
                                    </div>
                                    <div class="question-content">{{ question.content }}</div>
                                    <div class="question-detail">

                                        <span class="question-time">{{ question.create_time }}</span>
                                    </div>
                                </div>

                            </li>
                        {% endfor %}


                    </ul>
                </div>
                <!--使用小贴士-->
                <div id="uic" class="uic">
                    <ul style="display:none;">

                        <span><img src="/static/images/atm/xts1.jpg"/>
                        <img src="/static/images/atm/xts2.jpg"/></span>

                    </ul>
                </div>
            </div>
            <script>
                $(function () {
                    window.onload = function () {
                        var $li = $('#tab li');
                        var $ul = $('#content ul');

                        $li.mouseover(function () {
                            var $this = $(this);
                            var $t = $this.index();
                            $li.removeClass();
                            $this.addClass('act_active');
                            $ul.css('display', 'none');
                            $ul.eq($t).css('display', 'block');
                        })
                    }
                });
            </script>
        </div>
    </div>

    <style>
        .copyrights {
            text-indent: -9999px;
            height: 0;
            line-height: 0;
            font-size: 0;
            overflow: hidden;
        }
    </style>
{% endblock %}